/binaries
/publish
bin/
Bin/
obj/
_ReSharper*/
*.Cache
*.cache
/msbuild.log
source/Appccelerate.1.2.dotCover
*.user
*.suo
*.orig
source/Appccelerate.sln.DotSettings
source/packages/*
logs/ripple.log
Specs/

source/.idea/.idea.Appccelerate.Fundamentals/riderModule.iml

source/.idea/.idea.Appccelerate.Fundamentals/.idea/
